<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='stile3.css' )}}">
    <title>Dúvidas</title>
</head>
<body>
<div class="container">
	<div class="row">
			<h1>tire suas dúvidas</h1>
	</div>
	<div class="row">
			<h4 style="text-align:center">estamos sempre dispostos a ajudar</h4>
	</div>
	<form action="cadastrar4" method="post">
	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" id="nome" name="nome" required />
					<label>Nome</label>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" id="email" name="email" required />
					<label>Email</label>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" id="jtc" name="jtc" required />
					<label>Já trabalhou conosco</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea id="msg" name="msg" required></textarea>
					<label>Mensagem</label>
				</div>
			</div>
			<div class="col-xs-12">
				<button  type="submit" class="btn-lrg submit-btn">Enviar Dúvida</button>
			</div>
	</div>
	</form>
</div>

</body>
</html>