<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='stile2.css' )}}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>preços</title>
</head>
<body>
<div class="demo-wrap">
  <div class="demo-header">
    <h1>preços dos hosts</h1>
    <p>planos de hosts</p>
  </div>



  <section class="pricing-plans">

    <div class="pricing-tables">


      <!-- "Basic" Plano -->
      <div class="pricing-plan">
        <h2 class="plan-title">Basico</h2>
        <div class="plan-cost">
          <p class="plan-price">25$</p>
          <span>|</span>
          <p class="plan-type">Mensal</p>
        </div>
        <ul class="plan-features">
          <li>70 GB de espaço em disco</li>
          <li>Domínios e Tráfego Ilimitados</li>
          <li>Conta de Email Ilimitadas</li>
          <li><span>Certificado de Segurança SSL </span></li>
          <li><span>Ferramenta Criador de Sites </span></li>
          <li><span>Templates de sites prontos</span></li>
          <li><span>AntiSpam </span></li>
          <li><span>Backup Diário</span></li>
          <li><span>Suporte 24h</span></li>
        </ul>
        <a class="btn-plan" href="/redic">Selecione o plano</a>
      </div>
      <!-- "Premium" Plano -->
      <div class="pricing-plan featured-plan">
        <div class="featured-ribbon">mais enconta</div>
        <h2 class="plan-title">Premium</h2>
        <div class="plan-cost">
          <p class="plan-price">35$</p>
          <span>/</span>
          <p class="plan-type">Mensal</p>
        </div>
        <ul class="plan-features">
          <li>140 GB de espaço em disco</li>
          <li>Domínios e Tráfego Ilimitados</li>
          <li>Conta de Email Ilimitadas</li>
          <li>Certificado de Segurança SSL</li>
          <li><span>Ferramenta Criador de Sites</span></li>
          <li><span>Templates de sites prontos</span></li>
          <li><span>AntiSpam</span></li>
          <li><span>Backup Diário</span></li>
          <li><span>Suporte 24h</span></li>
          <li><span>Suporte de crição de site</span></li>
        </ul>
        <a class="btn-plan cta" href="/redic2">Selecio o Plano</a>
      </div>
      <!-- "Ultmate" Plano -->
      <div class="pricing-plan">
        <h2 class="plan-title">Ultimate</h2>
        <div class="plan-cost">
          <p class="plan-price">50$</p>
          <span>/</span>
          <p class="plan-type">Mensal</p>
        </div>
        <ul class="plan-features">
          <li>210 GB de espaço em disco</li>
          <li>Domínios e Tráfego Ilimitados</li>
          <li>Conta de Email Ilimitadas </li>
          <li>Certificado de Segurança SSL </li>
          <li>Ferramenta Criador de Sites</li>
          <li>Templates de sites prontos</li>
          <li>AntiSpam</li>
          <li>Backup Diário</li>
          <li><span>Suporte 24h</span></li>
          <li><span>Suporte de crição de site</span></li>
        </ul>
        <a class="btn-plan" href='/redic3'>Selecione o Plano</a>
      </div>
    </div>
    <a class="btn btn-secondary btn-lg" href='/redic4' > dúvidas</a>
  </section>
</div>
</body>
</html>